.gridBody {
    border: solid red;
    max-height: 960px;
    max-width: 960px;
    display: flex;
    flex-direction: column;
}

.gridRow {
    display: flex;
    flex-direction: row;
    border: solid purple;
    max-width: 960px;
}

.gridSquare {   
    display: flex;
    height:50px;
    width: 5-px;
    border: solid black;
    max-height: 50px;
    max-width: 50px;
    flex: auto, auto, auto;
}

.gridSquareDark {
    background-color: black;
    max-height: 50px;
    max-width: 50px;
    
}